<section>
    <div class="container pt-4">
        <h1 class="text-center">Admin Login</h1>
        <form action="/login" method="post">
            {{#if loginErr}}
            <p class="text-danger">{{loginErr}}</p>
            {{/if}}
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="userEmail">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    name="userPassword">
            </div>
            <a href="/signup" class="text-primary">Create new account ?</a>
            <button type="submit" class="btn btn-primary  float-right">Submit</button>
        </form>
    </div>
</section>