<section>
    <div class="container pt-5 text-center">
        <h1 class="text-center ">Order placed Successfull</h1>
        <a href="/orders" class="btn btn-success mt-3">Check Order</a>
    </div>
</section>